$navbar-default-bg: #848A4D;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #425F7F;
}

.nav.navbar-nav li a {
   color: #47472F;
   font-size: 1.2em;
}
 
#logo {
  float: left;
  font-size: 1.7em;
  color: #47472F;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #47472F;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Camping_Trip.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  btn-size: 1.7em;
  background-color: black;
  border-color: black;
}

.btn-xlarge:hover {
  background-color: black;

}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #47472F;;
  color: #47472F;;
}

a:link {
  color: #47472F;
}

footer a:hover {
  color: #47472F;;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}